<div class="row">
  <div class="col-md-6">
    <div class="center">
     <ul>
      <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
      <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
    </ul>

      <h2><%= @user.fullname %></h2>

      <div class="description row-space-3">
     <%= @user.description %>
      </div>

      <%= @topics.each do %>

      <%end%>
      
  </div>
</div>
